@model Pantry.Models.CategoryViewModels.CategoryViewModel



<h1>Categories</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model.GroupedCategories)
        {
            @if (item.IngredientCount >= 1)
            {
            <tr>
                <td>
                    
                    <div class="card text-center">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </h5>
                        <p class="card-text">You have <b>@Html.DisplayFor(modelItem => item.IngredientCount)</b> ingredients in your @Html.DisplayFor(modelItem => item.CategoryName)</p>
                    </div>
                    <hr />



                    <div class="container" style="display: flex; justify-content: space-around; flex-direction: row;">
                        
                            @foreach (var ingredient in item.Ingredients)
                            {
                                <div class="card" style="width: 10em; margin-left: 2em; margin-bottom: .5em; margin-top: 2em; text-align: center" >
                                    <div class="card=body">
                                        <h5 class="card-title">
                                            @Html.DisplayFor(modelItem => ingredient.Title)
                                        </h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            @Html.DisplayFor(modelItem => ingredient.Quantity)
                                        </h6>
                                        @Html.ActionLink(" ", "Details", "Ingredients", new { id = ingredient.IngredientId }, new { @class = "stretched-link" })
                                    </div>
                                </div>
                                @Html.ActionLink("X", "Delete", "Ingredients", new { id = ingredient.IngredientId}, new { @class = "btn close"})
                            }
                        </div>
                    
                    <br/>
                    @Html.ActionLink("See all...", "Details", "Categories", new { id = item.CatId }, new { @class = "btn btn-outline-info"})
                </td>
            </tr>
                }
            }
    </tbody>
</table>
