@model Pantry.Models.Category

@{
    ViewData["Title"] = "Details";
    var userId = User.Identity.Name;
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<hr />

<div>
    <h4>Ingredients</h4>
    <hr />
    
</div>
<div class="container" style="display: flex; justify-content: space-around; flex-wrap: wrap">

    @foreach (var model in Model.Ingredients)
    {
        @*@if (model.User.UserName != userId)
        { }
        else
        {*@
        <div class="card" style="width: 10em; margin-left: 2em; margin-bottom: .5em; margin-top: 2em; text-align: center">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => model.Title)
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    @Html.DisplayFor(modelItem => model.Quantity)
                </h6>
                @Html.ActionLink(" ", "Details", "Ingredients", new { id = model.IngredientId }, new { @class = "stretched-link" })
            </div>
        </div>
        @Html.ActionLink("X", "Delete", "Ingredients", new { id = model.IngredientId }, new { @class = "btn close" })

        //}
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



