@model Pantry.Models.SpoonacularViewModels.RecipeDetailsView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <div class="card" style="width: 480px;">

        <img src="@Url.Content($"https://spoonacular.com/recipeImages/{Model.Id}-480x360.{Model.ImageType}")" />
        <div class="card-body">
        <h2 class="card-title">
            @Html.DisplayFor(model => model.Title)
        </h2>
            
            <h3 class="card-text">
                Cook Time: @Html.DisplayFor(model => model.ReadyInMinutes) Minutes
            <br />
                Serving Size: @Html.DisplayFor(model => model.Servings)
            </h3>
        </div>


    </div>

 
    @foreach (var model in Model.ExtendedIngredients)
{  
        <div class="card" style="width: 250px; padding: .5em; margin: .5em;">
            <img src="@Url.Content($"https://spoonacular.com/cdn/ingredients_250x250/{model.Image}")" />
            <div class="card-body">
                <h3 class="card-footer">

                    
                    @Html.DisplayFor(modelItem => model.OriginalString)
                </h3>
            </div>
        </div>
           

}
    
        

    @foreach (var model in Model.AnalyzedInstructions)
    {
        @foreach (var modelItem in model.Steps)

        { 
<div class="card" style="width: 250px;">
    <div class="card-body">
        <div class="card-header">
        Step @Html.DisplayFor(stepItem => modelItem.Number)
        </div>
    <br/>
    <div class="card-text">
        @Html.DisplayFor(stepItem => modelItem.Step)
        </div>
    </div>
</div>
        }
    }
</div>
<div>

    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>
